.harga {
    min-height: 150px;
    width: 400px;
    padding: 5px;
}

.harga > .text-muted {
    margin: 0;
    letter-spacing: 1px;
    font-size: 14px;
}

.imgProduk {
    width: 70%;
    height: 450px !important;
}

.carousel-item > img {
    width: 100%;
    height: 450px !important;
    object-fit: contain;
} 



.profil > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.detailProfil > p {
    font-size: 12px;

}

.deskripsiProduk {
    width: 95%;
}
.spesifikasiProduk {
    min-height: 200px;
}
.deskripsiProdukk {
    min-height: 300px;
}

.judul {
    background-color: #FAFAFA;
}