.img_produk > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.val  > input,
.val > .form-control,
.dropdown-toggle {
    
    margin-left: 50px;
}

.col-sm-2 {
    width: 150px !important;
}

.dropdown {
    margin-left: 65px !important;
}

.row > .dropdown > #category{
    background-color: #fff;
    border: 1px solid #160040;
    border-radius: 5px;
    height: 35px;
    padding: 5px;
    cursor: pointer;

}

select#category {
    border: none;
    outline: none;
}
