@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.logo {
    font-family: 'Inspiration', cursive;
    font-size: 45px;
    font-weight: bold;
    color: #9A0680;
}

.antanan {
    font-size: 25px;
    letter-spacing: 1px;
    padding-left: 5px;
    padding-top: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 500;
    color: #160040;
}

.wellcome{
    font-family: 'Merriweather', serif;
    font-weight: italic;
    font-size:40px;
}


body {
    font-family: 'Lato', sans-serif !important;
    letter-spacing: .5px;
}

