@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
}


section.content {
    width: 100%;
    height: 90vh;
}
.kategori {
    min-width: 18%;
    height: 80%;
}

.produk {
    width: 90%;
    height: 100%;
}

.card {
    cursor: pointer;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

.card:hover {
    box-shadow: none;
    border:1px solid green;
}

.card > img {
    height: 100px;
    object-fit: contain;
}


.card > .card-body > .card-subtitle {
    font-size: 13px;
}



.header > .logo > img {
    object-fit: cover;
    height: 90%;
}